[submodule "og"]
	path = og
	url = git@github.com:likooooo/database_oghma.git
[submodule "fs"]
	path = fs
	url = git@github.com:likooooo/database_freesnell.git
[submodule "vl"]
	path = vl
	url = git@github.com:likooooo/database_virtuallab.git
[submodule "rii"]
	path = rii
	url = git@github.com:likooooo/database_refractive_index_info.git
[submodule "gf"]
	path = gf
	url = git@github.com:likooooo/database_granfilm.git
